@import "variables";
@import "~bulmaswatch/solar/bulmaswatch";
@import "~bulmaswatch/solar/overrides";
@import "~open-iconic/font/css/open-iconic";

#navigation {
    .logo {
        width: 8em;

        img {
            margin-right: 10px;
        }
    }
}

.hero.has-table .hero-body {
    display: block;
}

